<h2 mat-dialog-title>Edit this {{ titleType }}</h2>

<mat-dialog-content>

  <app-transaction-form
    [(amount)]="amount"
    [(title)]="title"
    [(frequency)]="frequency"
    [(interval)]="interval"
    [(startDate)]="startDate"
    [(skip)]="skip"
    [omitFrequencies]="hideYearly ? ['Yearly'] : []"
  ></app-transaction-form>

</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-flat-button color="warn" [mat-dialog-close]="null">
    <mat-icon>close</mat-icon>&nbsp;Discard
  </button>
  <button mat-flat-button [disabled]="!canSave"
    [class.bg-success]="canSave"
    [class.text-light]="canSave"
    (click)="onSaveClick()">
    <mat-icon>save</mat-icon>&nbsp;Save
  </button>
</mat-dialog-actions>
