<div class="app-container d-flex">
  <div class="toolbar-container">
    <mat-toolbar class="d-flex justify-content-between" color="primary">
      <span>Budget Calendar</span>
      <div class="buttons">
        <button mat-flat-button color="primary"
          [disabled]="!transactions.length"
          (click)="onSaveClick()"><mat-icon>save</mat-icon>&nbsp;Save</button>
        <button mat-flat-button color="primary"
          (click)="onLoadClick()"><mat-icon>folder</mat-icon>&nbsp;Load</button>
        <button mat-flat-button color="primary"
          (click)="openSettingsDialog()"><mat-icon>settings</mat-icon>&nbsp;Settings</button>
      </div>
    </mat-toolbar>
  </div>

  <div class="sidebar-container">
    <app-sidebar></app-sidebar>
  </div>

  <mat-divider vertical></mat-divider>

  <div class="calendar-container">
    <app-calendar
      [firstDay]="firstDay"
      [lastDay]="lastDay"
      [startingAmount]="startingAmount"
    ></app-calendar>
  </div>
</div>
