<h2 mat-dialog-title>Enter a filename</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <input matInput required [(ngModel)]="filename" (keyup)="onKeyUp($event)">
    <span matSuffix>.json</span>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-flat-button color="warn" [mat-dialog-close]="false">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-flat-button color="primary"
    (click)="onSaveClick()"
    [disabled]="!canSave"
  >
    <mat-icon>save</mat-icon>&nbsp;Save
  </button>
</mat-dialog-actions>
