<h2 mat-dialog-title>Settings</h2>

<mat-dialog-content>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>View date range</mat-label>
    <mat-date-range-input class="text-dark" [rangePicker]="dateRangePicker">
      <input matStartDate [(ngModel)]="startDate" id="startDateInput">
      <input matEndDate [(ngModel)]="endDate" id="endDateInput">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Starting amount</mat-label>
    <input matInput type="number" [(ngModel)]="startingAmount" id="startingAmountInput">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div class="d-flex flex-column mt-3">
    <mat-slide-toggle matInput [(ngModel)]="trackThreshold" color="primary">
      Alert me when my running total gets too low
    </mat-slide-toggle>
    <mat-form-field appearance="standard" *ngIf="trackThreshold">
      <mat-label>Alert threshold</mat-label>
      <input matInput type="number" [(ngModel)]="runningTotalThreshold">
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-flat-button color="warn" [mat-dialog-close]="false">
    <mat-icon>cancel</mat-icon>&nbsp;Cancel
  </button>
  <button mat-flat-button color="primary" (click)="onSaveClick()">
    <mat-icon>save</mat-icon>&nbsp;Save
  </button>
</mat-dialog-actions>
