<h2 mat-dialog-title>Settings</h2>

<mat-dialog-content>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Select a date range</mat-label>
    <mat-date-range-input class="text-dark" [rangePicker]="dateRangePicker">
      <input matStartDate [(ngModel)]="startDate">
      <input matEndDate [(ngModel)]="endDate">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="standard" class="w-100" (click)="$event.stopPropagation()">
    <mat-label>Starting amount</mat-label>
    <input matInput type="number" [(ngModel)]="startingAmount">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end">
  <button mat-flat-button color="warn"
    (click)="onCancelClick()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
  <button mat-flat-button color="primary"
  (click)="onSaveClick()"><mat-icon>save</mat-icon>&nbsp;Save</button>
</mat-dialog-actions>
