<mat-card [class]="cardClass" class="mb-3">
  <mat-card-header>
    <mat-card-title class="d-flex justify-content-between">
      <span>{{ transaction.title }}</span>
      <div class="buttons">
        <button mat-icon-button color="primary" (click)="onEditClick()"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDeleteClick()"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <span>{{ transaction.amount | currency }}</span>
      <p>
        Occurs
        <app-frequency-display
          [frequency]="transaction.recurrence.frequency"
          [interval]="transaction.recurrence.interval"
          [date]="transaction.recurrence.startDate"></app-frequency-display>
        <span *ngIf="transaction.recurrence.frequency !== 0">
          beginning
        </span>
        <span>on {{ transaction.recurrence.startDate | date }}.</span>
      </p>
      <mat-list *ngIf="transaction.skip.length">
        Skips:
        <mat-list-item *ngFor="let day of transaction.skip">
          {{ day | date }}
        </mat-list-item>
      </mat-list>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
