<div class="d-flex flex-column">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="title" (input)="titleChange.emit(title)" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <span matPrefix>$&nbsp;</span>
    <input type="number" matInput (input)="amountChange.emit(amount)" [(ngModel)]="amount">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Frequency</mat-label>
    <mat-select [(ngModel)]="frequency" (selectionChange)="frequencyChange.emit(frequency)">
      <mat-option *ngFor="let f of frequencies" [value]="f.value">
        {{ f.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mb-3 w-100" *ngIf="frequency !== 0">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Interval</mat-label>
      <input type="number" matInput [(ngModel)]="interval" (input)="intervalChange.emit(interval)">
      <mat-hint>Occurs every {{ interval }} {{ frequencyDisplay }}</mat-hint>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Starts on</mat-label>
    <input matInput (dateChange)="startDateChange.emit(startDate)"
      [matDatepicker]="picker"
      [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <mat-form-field appearance="fill" class="w-75">
          <mat-label>Skip a day</mat-label>
          <input matInput [matDatepicker]="skipPicker" [(ngModel)]="newSkipDate">
          <mat-datepicker-toggle matSuffix [for]="skipPicker"></mat-datepicker-toggle>
          <mat-datepicker #skipPicker></mat-datepicker>
        </mat-form-field>
        <button mat-button
          [disabled]="!canSaveSkipDate"
          color="primary"
          (click)="onNewSkipDateSave()">Add</button>
      </div>

      <mat-divider></mat-divider>

      <div class="mt-3">
        <div class="d-flex justify-content-between align-items-center">
          <h6 *ngIf="skip">
            {{ skip.length }} skipped dates
          </h6>
          <button mat-button
            [disabled]="!canRemove"
            color="warn"
            (click)="onRemoveSkippedDates()">Remove</button>
        </div>

        <mat-selection-list #skippedDates>
          <mat-list-option *ngFor="let day of skip" [value]="day">
            {{ day | date }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </mat-expansion-panel>
</div>

