/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'

body
  max-height: 100vh
  min-height: 100vh
  overflow-y: hidden

.mat-card-header .mat-card-header-text
  width: 100%

.mat-expansion-panel-content
  $padding: 5px

  .mat-expansion-panel-body
    padding-left: $padding
    padding-right: $padding

  .mat-action-row
    padding-left: $padding
    padding-right: 0

