<div class="container">
  <div class="py-3">
    <h2 class="text-center date-range">{{ firstDay | date }} <small>through</small> {{ lastDay | date }}</h2>
  </div>

  <div *ngIf="!occurrences.length" class="d-flex align-items-center justify-content-center no-data">
    <p>No data.</p>
  </div>

  <app-finance-details *ngIf="!!occurrences.length"></app-finance-details>

  <app-occurrence-card *ngFor="let occurrence of occurrences; let i = index;"
    [occurrence]="occurrence"
    [occurrenceIndex]="i"
  ></app-occurrence-card>
</div>
